@using Simple_Blazor_Todo.Shared
@inject HttpClient Http

<h3>Todo Lists</h3>
<div>

</div>
@code {
    private IList<TodoList> todoLists { get; set; }

    private async Task<IList<TodoList>> LoadTodoLists()
    {
        return await Http.GetFromJsonAsync<IList<TodoList>>($"Todo/GetTodoLists");
    }

    protected override async Task OnInitializedAsync()
    {
        todoLists = await LoadTodoLists();
    }

}
